.cart {
  h2 {
    @include heading;
  }
  .cart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    p {
      width: 20%;
      text-align: right;
    }
  }
  .total {
    border-top: 2px solid lighten($grey-color, 40%);
    text-align: right;
    padding-top: 10px;
    margin-top: 10px;
  }
  a {
    @include button;
    margin: 20px 0 120px 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 767px) {
  .cart {
    .cart-item {
      p {
        width: 30%;
        &:nth-child(2) {
          order: 1;
          width: 100%;
          padding-top: 5px;
          text-align: left;
        }
      }
    }
  }
}
