.category {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  .category-item {
    display: flex;
    width: 49%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 -1px 10px lighten($grey-color, 50%);
    img {
      width: 50%;
      margin-right: 10px;
    }
    div {
      text-align: center;
      align-self: center;
      a {
        @include button;
        font-size: 1em;
        font-weight: normal;
      }
      h3,
      p {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 1023px) {
  .category .category-item {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .category .category-item {
    flex-wrap: wrap;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
