div:first-child {
  width: 300px;
  height: 200px;
  margin: 50px;
  background-image: url("w3c.jpg");
  box-shadow: 40px -40px 10px green inset, -40px 40px 10px black inset,
    40px 40px 10px blue, -40px -40px 10px red;
}
